.product-card {
    border: 1px solid #d1a758;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    background: #be7f08;
}

.product-card-img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

.product-card-info {
    display: flex;
    flex-direction: column;
}

.product-card-name {
    margin: 0;
    font-size: 1.1rem;
}

.product-card-brand {
    margin: 0;
    color: #555;
    font-size: 0.9rem;
}