.search-container {
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #eed04c;
}

.search-bar {
    width: 70%;
    max-width: 400px;
    padding: 10px 14px;
    font-size: 1rem;

    border: 1px solid #19626e;
    border-radius: 8px;

    outline: none;
    transition: 0.2s border;
}


.search-bar:focus {
  border-color: #54cfff;
}

.search-button {
    margin-left: 10px;
    padding: 10px 18px;

    font-size: 1rem;
    font-weight: 500;
    color: white;

    background-color: #4a90e2;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.2s background-color;
}

.search-button:hover {
    background-color: #3b7ac4;
}


.product-card {
    max-height: 400px;
    overflow-y: auto;
    
    border: 1px solid #d1a758;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    background: #be7f08;
}

.product-card-img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

.product-card-info {
    display: flex;
    flex-direction: column;
}

.product-card-name {
    margin: 0;
    font-size: 1.1rem;
}

.product-card-brand {
    margin: 0;
    color: #555;
    font-size: 0.9rem;
}